---
layout:     default
---

<section class="hero">
    <div class="video-container">
        <video width="100%" height="auto" poster="{{ node.url | prepend: site.baseurl }}/images/video/homepage_video.jpg" autoplay loop>
            <source src="{{ node.url | prepend: site.baseurl }}/images/video/homepage_video.mp4" type="video/mp4">
            <source src="{{ node.url | prepend: site.baseurl }}/images/video/homepage_video.webm" type="video/webm">
        </video>
    </div>
    <div class="container">
        <h1>Beautiful digital experiences for arts, culture, and education.</h1>
        <a href="/about-us" class="btn btn-default btn-white">Read our story {% include icons/icon_arrow_right.html %}</a>
        <a href="/work" class="btn btn-default btn-white">Explore our work {% include icons/icon_arrow_right.html %}</a>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">Interactive Mechanics is a digital design firm that partners with cultural and educational organizations on design, development, user experience, and digital strategy.</h2>
                <p>
                    Our team builds beautiful, user-centered digital projects for web, mobile, and in-gallery exhibits that educate and empower your audiences. Whether we're working with you to design a new website, craft a digital strategy, or develop an interactive exhibit, we approach every project with openness, creativity, and empathy. 
                    <a href="/about-us">Learn more about us &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <h1>Our services <small><a href="/services">Read about what we do &raquo;</a></small></h1>
        <div class="row">
            {% for service in site.data.focusareas %}
                <div class="col-md-3">
                    <a href="/services/#{{ service.short }}" class="service-block">
                        {% assign icon = service.image %}
                        <div class="overlay" style="background-image: url({{ icon }})"></div>
                        <h5>{{ service.title }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr/>
        <div class="logos row">
            <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-pma.svg" alt="Philadelphia Museum of Art" />
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-esp.svg" alt="Eastern State Penitentiary" />
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-upenn.svg" alt="Penn Museum of Archeology and Anthropology" />
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-fww.svg" alt="Fairmount Water Works" />
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 hidden-sm">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-fords-theatre.svg" alt="Ford's Theatre" />
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 hidden-sm">
                <img src="{{ node.url | prepend: site.baseurl }}/images/logos/logo-bryn-mawr.svg" alt="Bryn Mawr College" />
            </div>
        </div>
    </div>
</section>
<section class="gray">
    <div class="container">
        <h1>Featured Work</h1>
        <div class="row">
            {% assign work = site.work | sort: 'date' | reverse %}
            {% for project in work limit:3 %}
                {% include inc_work.html %}
            {% endfor %}
        </div>
    </div>
    <div class="container text-center">
        <a href="/work" class="btn btn-default text-center">See all work {% include icons/icon_arrow_right.html %}</a>
    </div>
</section>