---
layout:         default
title:          Jobs
permalink:      jobs/
weight:         5
in_nav:         false

summary: |
    We're a small, close-knit group of designers, developers, and content specialists who build amazing things, and we'd love for you to join us.

callout:
    title:      We like to give back
    body: |
        As a team, we partnered up with Camp Sojourner and Bartram's Garden to help clear brush and trash as a day of service last Martin Luther King Day in 2016.


--- 

<section class="hero jobs-hero">
    <div class="video-container">
        <img class="in" src="/images/jobs/jobs_large_01.jpg" alt="Jeff Majek and Amelia Longo at Interactive Mechanics" />
        <img src="/images/jobs/jobs_large_02.jpg" alt="The Interactive Mechanics anvil sticker" />
        <img src="/images/jobs/jobs_large_03.jpg" alt="Bowling night at Interactive Mechanics" />
        <img src="/images/jobs/jobs_large_04.jpg" alt="Stacey Mann and Mike Tedeschi testing out interactives at Interactive Mechanics" />
        <img src="/images/jobs/jobs_large_05.jpg" alt="Jeff Majek and Mike Tedeschi installing digital interactives at Interactive Mechanics" />
    </div>
    <div class="container">
        <h5>Jobs</h5>
        <h1>{{ page.summary }}</h1>
        <a href="#openings" class="btn btn-default btn-white">See Open Positions {% include icons/icon_arrow_right.html %}</a>
    </div>
</section>
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5 class="gold-text">Working for us is awesome</h5>
                <p>Interactive Mechanics has two priorities: our team and our clients. <a href="/about-us">Our team</a> is actively involved in the growth and betterment of the company through regular start-stop-continue meetings, an annual planning retreat, and monthly one-on-ones with the owner. Our employee benefits include:</p>
                <p><strong>Unlimited Paid Time Off</strong><br>
                    We believe in a healthy work-life balance, so we suggest that employees take a <em>minimum of two weeks off</em> to relax and recharge. In addition to seven paid holidays, we also take off the entire week between Christmas and New Years and have <em>flexible work hours</em>.</p>
                <p><strong>100% Coverage Health Insurance</strong><br>
                    We offer 100% employer covered health and dental insurance for full-time staff.</p>
                <p><strong>Matched Retirement Account</strong><br>
                    We provide a Simple IRA retirement plan and match 100% of your contributions, up to 3% of your annual salary.</p>
                <p><strong>Educational Stipend</strong><br>
                    You earn $50 for every 40 hours you work towards professional development, from conferences and workshops to books and online training. We also reimburse for museum visits to keep on top of industry trends.</p>
                <p><strong>Regular Lunches, Team Talks, and Outings</strong><br>
                    We have monthly team lunches, team talks (share your knowledge with the team), an annual holiday party, and company outings to bowl, rollerskate, or explore local museums.</p>
                <p><strong>Collaborative work environment</strong><br>
                    Our team is currently based out of CultureWorks, an amazing co-working studio in downtown Philadelphia. You'll have your own desk with our team, including dedicated storage and a new laptop, monitor, and other technology that fits your role.</p>
            </div>
            {% if page.callout %}
                <div class="col-md-4">
                    <div class="callout">
                        <h5>{{ page.callout.title }}</h5>
                        {{ page.callout.body | markdownify }}
                    </div>
                </div>
            {% endif %}
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                <img class="job-img" src="/images/jobs/jobs_01.jpg" alt="Interactive Mechanics volunteering at Bartram's Garden in 2016" />
            </div>
            <div class="col-sm-3">
                <img class="job-img" src="/images/jobs/jobs_02.jpg" alt="Interactive Mechanics with the Philadelphia Museum of Art Rice Room opening reception" />
            </div>
            <div class="col-sm-3">
                <img class="job-img" src="/images/jobs/jobs_03.jpg" alt="Christina Deemer and Mike Tedeschi showing off their anvil stickers" />
            </div>
            <div class="col-sm-3">
                <img class="job-img" src="/images/jobs/jobs_04.jpg" alt="Jeff Majek and Amelia Longo at Interactive Mechanics" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_07.jpg" alt="Interactive Mechanics team lunch at Lil Nonna's" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_06.jpg" alt="Stacey Mann and Mike Tedeschi in Washington DC visiting Ford's Theatre" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_05.jpg" alt="The Interactive Mechanics team at the Philadelphia Geek Awards in 2016" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_08.jpg" alt="Mike Tedeschi attending a show at Ford's Theatre in 2016" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_09.jpg" alt="Interactive Mechanics game night with Jeff Majek and Christina Deemer" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_10.jpg" alt="The Interactive Mechanics team bowling night" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_11.jpg" alt="The Interactive Mechanics team at the Children's Hospital of Philadelphia during user testing" />
            </div>
            <div class="col-sm-3 hidden-xs">
                <img class="job-img" src="/images/jobs/jobs_12.jpg" alt="Interactive Mechanics volunteering at Bartram's Garden in 2016" />
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <h5 class="gold-text">Our hiring process</h5>
                <p>Our team conducts a blind review of your application in order to  help us assess each candidate fairly. We'll review your materials against the skills and requirements listed in the job posting, so your application should speak to those points. Specific materials requested are listed in each job description.</p>
                <p>We'll invite select candidates to interview on-site with our team and provide references. If you're selected, we'll send you a detailed email with everything you need to know for the day of the interview, but you should be prepared to talk about your work style, challenges you've addressed, and projects you're proud to have worked on. You'll meet with the owner and up to two other members of our team&mdash;interviews typically take two hours. We're a pretty casual company, so appropriate interview attire is business casual.</p>
                <h5 class="gold-text">Equal Opportunity</h5>
                <p>We believe that we deliver higher value to our clients by bringing a diverse viewpoint to every project. Interactive Mechanics aims to be an equal opportunity employer and is committed to promoting equal treatment regardless of religious belief, age, color, race, creed, marital status, gender, sexual orientation, political affiliation, ethnic origin, family status, or disability. This commitment applies to all areas of our work environment, including recruitment, selection, training, compensation, promotion, and layoff.</p>
            </div>
            <div class="col-md-4">
                <div class="callout">
                    <h5>Questions or concerns?</h5>
                    <p>If you have any questions about our hiring process, or if you require assistance, please contact us at jobs@interactivemechanics.com.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jobs" id="openings">
    <div class="container">
        <h5 class="gold-text">All Open Positions</h4>
            <hr/>
            {% comment %}
                {% if site.data.jobs %}
                    {% for job in site.data.jobs %}
                        <h2 class="job-title">{{ job.title }} <small>{{ job.subtitle }}</small> {% include icons/icon_arrow_right.html %}</h2>
                        <div class="collapsible row">
                            <div class="col-md-8">
                                <p>{{ job.body | markdownify }}</p>
        
                                {% if job.musthave %}
                                <p style="margin: 20px 0 0;"><strong>Must-have skills</strong></p>
                                <ul>
                                    {% for s in job.musthave %}
                                        <li>{{ s.skill }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
        
                                {% if job.nicetohave %}
                                <p style="margin: 20px 0 0;"><strong>Nice-to-have skills</strong></p>
                                <ul>
                                    {% for s in job.nicetohave %}
                                        <li>{{ s.skill }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
        
                                {% if job.send %}
                                <p style="margin: 20px 0 0;"><strong>What to send</strong></p>
                                <ul>
                                    {% for s in job.send %}
                                        <li>{{ s.skill }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
        
                                <br>
                                <p><em>Salary negotiable and commensurate with experience. Benefits include flexible hours, unlimited paid time off, matched retirement, public transit reimbursement, education and museum stipends, and snacks.</em></p>
                            </div>
                            <div class="col-md-4">
                                <div class="callout">
                                    <h5>Are you a good fit?</h5>
                                    <p>To apply, please email your materials in one attached document to jobs@interactivemechanics.com with the subject "{{ job.title }}". We don't need a cover letter.</p>
                                    <a class="btn btn-default btn-block" target="_blank" href="mailto:jobs@interactivemechanics.com?subject={{ job.title | uri_escape }}">Apply Now! {% include icons/icon_arrow_right.html %}</a>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                {% else %}
                    <br/>
                    <h2>No job opportunities, currently!</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-muted">Although we're not hiring right now, feel free to send your resume and application materials to jobs@interactivemechanics.com and we'll keep your information on file for future job openings.</p>
                        </div>
                    </div>
                {% endif %}
            {% endcomment %}
            <h2 class="job-title"><a href="/fellowship">2016 Design & Development Fellows <small>Part-time in Philadelphia</small> {% include icons/icon_arrow_right.html %}</a></h2>
            <hr/>
        </div>
    </div>
</section>