---
layout:         default
title:          Our Work
navtitle:       Work
permalink:      work/
weight:         3
in_nav:         true
services:
    - Web Design & Development
    - Mobile Design & Development
    - Interactive Exhibit
nextpage:
    title:      Contact us
    body: |
        Like what you see? We'd love to talk about your upcoming projects or share more information about our past work. Contact us today to start the conversation!
    btn_text:   Contact us to learn more
    btn_link:   contact
--- 

<section class="page-title">
    <div class="container">
        <h1>Featured work</h1>
        <ul id="news-filters" class="list-inline">
            <li class="active"><a data-category-filter="all">All Case Studies</a></li>
            {% for service in page.services %}
                <li><a data-category-filter="{{ service | downcase | replace:' ','-' | replace:'&','' | replace:'--','-' }}">{{ service | capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="container news">
        <div class="row">
            {% assign work = site.work | sort: 'date', 'last' %}
            {% for project in work reversed %}
                {% include inc_work.html %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="gray clients">
    <div class="container">
        <h2>Selected Clients</h2>
        <div class="grid-container">
            {% assign clients = (site.data.clients | sort: 'name') %}
            {% for client in clients %}
                <p>{{ client.name }}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% include inc_nextpage.html %}