<footer>
    <div class="with-love">
        {% include icons/icon_logo.html %}
        <h4>Lots of love from Philly.</h4>
    </div>
    <div class="copyright">
        <p>&copy; 2016 {{ site.title }}. All Rights Reserved.</p>
        <div class="pull-right hidden-xs">
            <ul class="list-inline">
                <li><a href="/jobs" target="_blank">Jobs</a></li>
                <li><a href="https://twitter.com/InteractiveMech" target="_blank">@interactivemech</a></li>
                <li><a href="mailto:hello@interactivemechanics.com" target="_blank">hello@interactivemechanics.com</a></li>
                <li><a href="https://www.google.com/maps/place/Interactive+Mechanics/@39.9514833,-75.1466361,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x89c6c885e6a807b3:0x44044c4eb85b4adf!2s219+Cuthbert+St,+Philadelphia,+PA+19106!3b1!8m2!3d39.9514833!4d-75.1444474!3m4!1s0x89c6c885de427fa5:0x242e7b5511f1dede!8m2!3d39.9514833!4d-75.1444474" target="_blank">Directions</a></li>
            </ul>
        </div>
    </div>
</footer>
<dialog id="nav-overlay" class="hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <nav>
                    {% assign sorted_pages = site.pages | sort:"weight" %}
                    <ul>
                    {% for node in sorted_pages %}
                        {% if node.in_nav == true %}
                            <li {% if page.url contains node.url %}class="active"{% endif %}>
                                <a href="{{ node.url | prepend: site.baseurl }}">
                                    {{ node.title }}
                                    {% include icons/icon_arrow_right.html %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="/fellowship">Fellowship {% include icons/icon_arrow_right.html %}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <a class="close">{% include icons/icon_menu.html %}</a>
</dialog>