<header>
    <div class="container">
        <a class="brand" href="/">{% include icons/icon_logo.html %}</a>
        <div class="pull-right {% if page.path == "jobs.html" %}hidden{% endif %}">
            <ul class="list-inline hidden-xs">
                {% assign sorted_pages = site.pages | sort:"weight" %}
                {% for node in sorted_pages %}
                    {% if node.in_nav == true %}
                        <li {% if page.url contains node.url %}class="active"{% endif %}>
                            <a href="{{ node.url | prepend: site.baseurl }}">
                                {% if node.navtitle %}
                                    {{ node.navtitle }}
                                {% else %}
                                    {{ node.title }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="callout-nav"><a href="/jobs">We're Hiring!</a></li>
            </ul>
        </div>
    </div>
    <a class="mobile-menu {% if page.path == "jobs.html" %}hidden{% endif %}">{% include icons/icon_menu.html %}</a>
</header>