<div class="col-md-4 news-container active" data-category={{ post.category | downcase | replace:' ','-' }}>
    <a class="article image" href="{{ post.url }}">
        <div class="overlay {{ post.category | downcase | replace:' ','-' }}" {% if post.thumb %}style="background-image: url({{ post.thumb }});"{% endif %}></div>
        <div class="article-container">
            <h5>{{ post.category }}<span class="divider"></span>{{ post.date | date: '%B %Y' }}</h5>
            <h2>{{ post.title }}</h2>
        </div>
    </a>
</div>