<div class="col-md-4 news-container active" data-category={{ project.services | downcase | replace:' ','-' | replace:'&','' | replace:'--','-' }}>
    <a class="work" href="{{ project.url }}">
        <div class="overlay {{ project.services | downcase | replace:' ','-' | replace:'&','' | replace:'--','-' }}" style="background-image: url({{ project.thumb }});"></div>
        
        <div class="work-container">
            <h5>
                {% if project.client.name != project.title %} {{ project.title }}{% endif %}
            </h5>
            <h2>{{ project.client.name }}</h2>
            <span class="label">{{ project.services }}</span>
        </div>
    </a>
</div>