.work {
    display: block;
    width: 100%;
    position: relative;
    height: 372px;
    background: white;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 30px;
    top: 0;
    box-shadow: 0 5px 0 rgba(0,0,0,0);
    transition: $transition;

    &:hover, &:active, &:focus {
        text-decoration: none;

        h2, h5 {
            text-decoration: none;
        }
        .overlay {
            -moz-transform: scale(1.15,1.15);
            -webkit-transform: scale(1.15,1.15);
            transform: scale(1.15,1.15);

            &:after {
                opacity: 0.9;
            }
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.4;
        color: white;
    }
    h5 {
        font-size: 1.3rem;
        color: white;
        margin-bottom: 12px;

        .divider:before {
            color: rgba(255,255,255,0.5);
        }
    }

    .label {
        background-color: white;
        color: #337ab7;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 11px;
        position: absolute;
        border-radius: 0;
        padding: 8px 10px 8px;
        bottom: 0;
    }
    .work-container {
        position: relative;
        z-index: 10;
        height: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;        
        background-size: cover;
        background-position: center center;
        transition: 0.5s all;
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);

        &:after {
            content: '';
            background-color: #3ab2c4;
            position: absolute;
            top: 0;
            bottom: 0;
            opacity: 0.7;
            width: 100%;
            transition: 0.5s all;
        }

        &.web-design-development:after {
            background-color: #3ab2c4;
        }
        &.mobile-design-development:after {
            background-color: #3b599a;
        }
        &.interactive-exhibit:after {
            background-color: #b83f78;
        }
    }
}
