.contact {
    padding: 60px 0;

    @media screen and #{$screen-ltmd} {
        text-align: center;
        padding-bottom: 30px;
    }

    h5 { margin-top: 0; }
    p {
        margin-bottom: 0;
        font-size: 1.6rem;

        @media screen and #{$screen-ltmd} {
            margin-bottom: 30px;
        }

        a { 
            display: block; 
            
            &:hover {
                color: white;
                opacity: 0.65;
            }
        }
    }
}
